# Fifa RAW data Transformation

Steps 
- Importing Libraries
- Importing data
- EDAAAAAAAAAAAAAAAA

In [34]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import seaborn as srn
import math
import random
import datetime
warnings.filterwarnings('ignore')

In [35]:
df = pd.read_csv('fifa21_raw_data.csv')
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [36]:
df.shape

(18979, 77)

In [4]:
df.isna().sum()

ID              0
Name            0
LongName        0
photoUrl        0
playerUrl       0
             ...
PAS             0
DRI             0
DEF             0
PHY             0
Hits         2595
Length: 77, dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [7]:
df[['ID','Name','LongName']]

           ID               Name                      LongName
0      158023           L. Messi                  Lionel Messi
1       20801  Cristiano Ronaldo  C. Ronaldo dos Santos Aveiro
2      200389           J. Oblak                     Jan Oblak
3      192985       K. De Bruyne               Kevin De Bruyne
4      190871          Neymar Jr    Neymar da Silva Santos Jr.
...       ...                ...                           ...
18974  247223             Xia Ao                        Ao Xia
18975  258760           B. Hough                     Ben Hough
18976  252757        R. McKinley                Ronan McKinley
18977  243790       Wang Zhen'ao                  Zhen'ao Wang
18978  252520          Zhou Xiao                     Xiao Zhou

[18979 rows x 3 columns]

In [8]:
df[['↓OVA','POT','Club']]

       ↓OVA  POT                         Club
0        93   93         \n\n\n\nFC Barcelona
1        92   92             \n\n\n\nJuventus
2        91   93      \n\n\n\nAtlético Madrid
3        91   91      \n\n\n\nManchester City
4        91   91  \n\n\n\nParis Saint-Germain
...     ...  ...                          ...
18974    47   55           \n\n\n\nWuhan Zall
18975    47   67      \n\n\n\nOldham Athletic
18976    47   65           \n\n\n\nDerry City
18977    47   57     \n\n\n\nDalian YiFang FC
18978    47   57     \n\n\n\nDalian YiFang FC

[18979 rows x 3 columns]

We observe there are too many new line characters and those have to be deleted.

In [9]:

for i in df['Club'].unique():
    try:
        df['Club'].replace(i,i.replace('\n',''),inplace = True)
    except:
        pass

In [10]:
df['Club'].head()

0           FC Barcelona
1               Juventus
2        Atlético Madrid
3        Manchester City
4    Paris Saint-Germain
Name: Club, dtype: object

In [11]:
df[['Contract','Positions']]

          Contract   Positions
0      2004 ~ 2021  RW, ST, CF
1      2018 ~ 2022      ST, LW
2      2014 ~ 2023          GK
3      2015 ~ 2023     CAM, CM
4      2017 ~ 2022     LW, CAM
...            ...         ...
18974  2018 ~ 2022          CB
18975  2020 ~ 2021          CM
18976  2019 ~ 2020          CM
18977  2020 ~ 2022          RW
18978  2019 ~ 2023      CB, LB

[18979 rows x 2 columns]

In [12]:
for i in df['Contract'].unique():
    try:
        df['Contract'].replace(i,i.replace('~','-'),inplace = True)
    except:
        pass
df['Contract'].head()

0    2004 - 2021
1    2018 - 2022
2    2014 - 2023
3    2015 - 2023
4    2017 - 2022
Name: Contract, dtype: object

In [13]:
df[['Height','Weight','Preferred Foot']]

      Height Weight Preferred Foot
0      170cm   72kg           Left
1      187cm   83kg          Right
2      188cm   87kg          Right
3      181cm   70kg          Right
4      175cm   68kg          Right
...      ...    ...            ...
18974  178cm   66kg          Right
18975  175cm   65kg          Right
18976  179cm   74kg          Right
18977  175cm   69kg          Right
18978  188cm   75kg           Left

[18979 rows x 3 columns]

In [14]:
df["Height"].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [15]:
def height(x):
    k = x.replace('\'','.').replace('"','').split('.')
    centi = round((float(k[0])*12*2.54) + (float(k[1])*2.54),2)
    return centi

for i in df['Height'].unique():     
        try:
            df['Height'].replace(i,i.replace('cm',''),inplace = True)
            df['Height'].replace(i,height(i), inplace = True)
        except:
            pass

In [16]:
df["Height"].unique()

array(['170', '187', '188', '181', '175', '184', '191', '178', '193',
       '185', '199', '173', '168', '176', '177', '183', '180', '189',
       '179', '195', '172', '182', '186', '192', '165', '194', '167',
       '196', '163', '190', '174', '169', '171', '197', '200', '166',
       187.96, '164', '198', 190.5, 195.58, 180.34, 193.04, 185.42,
       182.88, 177.8, 175.26, 167.64, 170.18, 162.56, '201', '158', '162',
       '161', '160', '203', '157', '156', '202', '159', '206', '155'],
      dtype=object)

In [17]:
df['Height'] = pd.to_numeric(df['Height']) 
df['Height'].dtype

dtype('float64')

In [18]:
df["Weight"].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [19]:
def weight(x):
    if x[3:6]=='lbs':
        k = x.replace('lbs','.').split('.')
        kg = round(float(k[0])*0.45,1)
    else:
        pass
    return kg

for i in df['Weight'].unique():     
        try:
            df['Weight'].replace(i,i.replace('kg',''),inplace = True)
            df['Weight'].replace(i,weight(i), inplace = True)
        except:
            pass

In [20]:
df["Weight"].unique()

array(['72', '83', '87', '70', '68', '80', '71', '91', '73', '85', '92',
       '69', '84', '96', '81', '82', '75', '86', '89', '74', '76', '64',
       '78', '90', '66', '60', '94', '79', '67', '65', '59', '61', '93',
       '88', '97', '77', '62', '63', '95', '100', '58', 82.4, 80.5, 77.4,
       88.2, 79.2, 83.2, 76.5, 91.4, 75.6, 72.5, 65.7, 58.5, 85.5, 78.3,
       66.6, 74.2, 71.5, 86.4, 81.5, 62.6, 69.3, 70.7, 73.4, '98', '103',
       '99', '102', '56', '101', '57', '55', '104', '107', '110', '53',
       '50', '54', '52'], dtype=object)

In [21]:
df['Weight'] = pd.to_numeric(df['Weight']) 
df['Weight'].dtype

dtype('float64')

In [22]:
df[['BOV','Best Position']]

       BOV Best Position
0       93            RW
1       92            ST
2       91            GK
3       91           CAM
4       91            LW
...    ...           ...
18974   49            CB
18975   51           CAM
18976   49           CAM
18977   48            ST
18978   50            LB

[18979 rows x 2 columns]

In [23]:
df[['Joined','Loan Date End']]

             Joined Loan Date End
0       Jul 1, 2004           NaN
1      Jul 10, 2018           NaN
2      Jul 16, 2014           NaN
3      Aug 30, 2015           NaN
4       Aug 3, 2017           NaN
...             ...           ...
18974  Jul 13, 2018           NaN
18975   Aug 1, 2020           NaN
18976   Mar 8, 2019           NaN
18977  Sep 22, 2020           NaN
18978  Jul 29, 2019           NaN

[18979 rows x 2 columns]

In [24]:
df['Loan Date End'].unique()

array([nan, 'Jun 30, 2021', 'Dec 31, 2020', 'Jan 30, 2021',
       'Jun 30, 2022', 'May 31, 2021', 'Jul 5, 2021', 'Dec 31, 2021',
       'Jul 1, 2021', 'Jan 1, 2021', 'Aug 31, 2021', 'Jan 31, 2021',
       'Dec 30, 2021', 'Jun 23, 2021', 'Jan 3, 2021', 'Nov 27, 2021',
       'Jan 17, 2021', 'Jun 30, 2023', 'Jul 31, 2021', 'Nov 22, 2020',
       'May 31, 2022', 'Dec 30, 2020', 'Jan 4, 2021', 'Nov 30, 2020',
       'Aug 1, 2021'], dtype=object)

We should change the dates from words to actual dates

In [25]:
for i in list(df['Joined'].unique()):
    try:
        xx = datetime.datetime.strptime(i,'%b %d, %Y').strftime('%d/%m/%Y')
        f = '%d/%m/%Y'
        df['Joined'].replace(i,datetime.datetime.strptime(xx,f),inplace=True)
    except:
        pass

In [26]:
df['Joined'].head()

0   2004-07-01
1   2018-07-10
2   2014-07-16
3   2015-08-30
4   2017-08-03
Name: Joined, dtype: datetime64[ns]

In [27]:
for j in list(df['Loan Date End'].unique()):
    try:
        xx1 = datetime.datetime.strptime(j,'%b %d, %Y').strftime('%d/%m/%Y')
        f1 = '%d/%m/%Y'
        df['Loan Date End'].replace(j,datetime.datetime.strptime(xx1,f1),inplace=True)
    except:
        pass

In [28]:
df['Loan Date End'].unique()

array([                          'NaT', '2021-06-30T00:00:00.000000000',
       '2020-12-31T00:00:00.000000000', '2021-01-30T00:00:00.000000000',
       '2022-06-30T00:00:00.000000000', '2021-05-31T00:00:00.000000000',
       '2021-07-05T00:00:00.000000000', '2021-12-31T00:00:00.000000000',
       '2021-07-01T00:00:00.000000000', '2021-01-01T00:00:00.000000000',
       '2021-08-31T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
       '2021-12-30T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-01-03T00:00:00.000000000', '2021-11-27T00:00:00.000000000',
       '2021-01-17T00:00:00.000000000', '2023-06-30T00:00:00.000000000',
       '2021-07-31T00:00:00.000000000', '2020-11-22T00:00:00.000000000',
       '2022-05-31T00:00:00.000000000', '2020-12-30T00:00:00.000000000',
       '2021-01-04T00:00:00.000000000', '2020-11-30T00:00:00.000000000',
       '2021-08-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [29]:
df[['Value','Wage','Release Clause']]

         Value   Wage Release Clause
0      €103.5M  €560K        €138.4M
1         €63M  €220K         €75.9M
2        €120M  €125K        €159.4M
3        €129M  €370K          €161M
4        €132M  €270K        €166.5M
...        ...    ...            ...
18974    €100K    €1K           €70K
18975    €130K   €500          €165K
18976    €120K   €500          €131K
18977    €100K    €2K           €88K
18978    €100K    €1K           €79K

[18979 rows x 3 columns]

In [39]:
def call(value):
    value = value.replace('€','')
    value = value.replace('K','000')
    value = value.replace('M','000000')
    value = value.replace('.','F')
    if  'F' in value:
        value = value.replace('F','')
        value = value = int(value) / 10
    vale = int(value)
    return vale

In [43]:
for i in df['Value']:
    try:
        df['Value'].replace(i,height(i), inplace = True)
    except:
        pass
df['Value'].unique()

array([103500000,  63000000, 120000000, 129000000, 132000000, 111000000,
       120500000, 102000000, 185500000, 110000000, 113000000,  90500000,
        82000000,  17500000,  83500000,  33500000, 114500000,  78000000,
       103000000, 109000000,  92000000,  10000000,  76500000,  89500000,
        87500000,  79500000, 124000000, 114000000,  95000000,  92500000,
       105500000,  88500000,  85000000,  81500000,  26000000,  21000000,
        56000000,  67500000,  53000000,  36500000,  51000000,  65500000,
        46500000,  61500000,  72500000,  77500000,  43500000,  32500000,
        36000000,  32000000,  54000000,  49500000,  57000000,  66500000,
        74500000,  71500000, 121000000,  99000000,  67000000,  86500000,
        93500000,  70000000,  62000000,  66000000,  58000000,  44000000,
        81000000,  37000000,  14500000,  46000000,  47500000,  52500000,
        54500000,  34500000,  57500000,  51500000,  44500000,  55000000,
        48000000,  60500000,  63500000,  61000000,  29000000,  58500000,
        55500000,  42000000,  40500000,  43000000,  45500000,  34000000,
        26500000,  42500000,  35500000,  45000000,  41500000,  40000000,
        11000000,  13500000,  29500000,  27000000,  15500000,  38500000,
        52000000,  33000000,  19000000,  73500000,  38000000,  35000000,
        47000000,  24000000,  30500000,  18000000,  28000000,  25500000,
        25000000,  31000000,  23500000,  30000000,  31500000,  22500000,
        28500000,   4000000,  12500000,  37500000,  27500000,  16000000,
        15000000,  20500000,  22000000,   3400000,   5000000,  56500000,
        62500000,         0,  39000000,  24500000,  21500000,  13000000,
         8000000,  20000000,   8500000,   2900000,   9000000,   4600000,
        50000000,  23000000,  18500000,   7000000,  19500000,   5500000,
         7500000,   3800000,  14000000,  10500000,  16500000,   3600000,
         9500000,  39500000,  17000000,  12000000,  11500000,   4900000,
         3000000,   1900000,   6500000,   1700000,   2400000,   3100000,
         6000000,   3700000,   4700000,   4300000,   2100000,   1200000,
         1800000,   4800000,   3200000,   1300000,    825000,   2300000,
         1500000,   3900000,   2600000,   3500000,   2800000,   2700000,
         4400000,   4100000,    950000,   1600000,    625000,   1100000,
         4500000,   4200000,   2200000,   3300000,   1400000,   2000000,
          475000,    925000,    750000,    725000,   2500000,   1000000,
          350000,    525000,    600000,    850000,    800000,    550000,
          250000,    400000,    425000,    575000,    210000,    325000,
          900000,    875000,    650000,    700000,    500000,    975000,
          375000,    775000,    275000,    180000,    450000,    675000,
          150000,    240000,    300000,    130000,    220000,    200000,
          110000,    170000,    230000,     90000,    120000,     80000,
          190000,    140000,    160000,    100000,     60000,     50000,
           70000,     45000,     35000,     40000,     25000,     20000,
           15000,     30000,      9000], dtype=int64)

In [45]:
for i in df['Wage']:
    try:
        df['Wage'].replace(i,call(i), inplace = True)
    except:
        pass
df['Wage'].unique()

array([560000, 220000, 125000, 370000, 270000, 240000, 250000, 160000,
       260000, 210000, 310000, 130000, 350000, 300000, 190000, 145000,
       195000, 100000, 140000, 290000,  82000, 110000, 230000, 155000,
       200000, 165000,  95000, 170000, 105000, 115000, 150000, 135000,
        55000,  58000,  81000,  34000, 120000,  59000,  90000,  65000,
        56000,  71000,  18000,  75000,  47000,  20000,  84000,  86000,
        74000,  78000,  27000,  68000,  85000,  25000,  46000,  83000,
        54000,  79000, 175000,  43000,  49000,  45000,  38000,  41000,
        39000,  23000,  51000,  50000,  87000,  30000,  14000,  69000,
        31000,  64000,  53000,  35000,  21000,  28000,  17000,  33000,
        70000,  32000,  89000,  26000,  40000,  76000,  72000,  48000,
        36000,  29000,  60000,  16000,  37000,  24000,  52000,      0,
        62000,  73000,  63000,  19000,   1000,  66000,  80000,  12000,
         2000,  42000,  13000,    900,  57000,  77000,  61000,  22000,
        67000,  44000,  15000,  11000,   8000,    850,  10000,  88000,
          500,   7000,   6000,   9000,   5000,    700,    950,    750,
         3000,    650,    600,   4000,    800,    550], dtype=int64)

In [46]:
for i in df['Release Clause']:
    try:
        df['Release Clause'].replace(i,call(i), inplace = True)
    except:
        pass
df['Release Clause'].unique()

array([138400000,  75900000, 159400000, ...,     59000,     35000,
           64000], dtype=int64)

In [47]:
for i in df['Hits']:
    try:
        df['Hits'].replace(i,call(i), inplace = True)
    except:
        pass
df['Hits'].unique()

array([7.71e+02, 5.62e+02, 1.50e+02, 2.07e+02, 5.95e+02, 2.48e+02,
       2.46e+02, 1.20e+02, 1.60e+03, 1.30e+02, 3.21e+02, 1.89e+02,
       1.75e+02, 9.60e+01, 1.18e+02, 2.16e+02, 2.12e+02, 1.54e+02,
       2.05e+02, 2.02e+02, 3.39e+02, 4.08e+02, 1.03e+02, 3.32e+02,
       8.60e+01, 1.73e+02, 1.61e+02, 3.96e+02, 1.10e+03, 4.33e+02,
       2.42e+02, 2.06e+02, 1.77e+02, 1.50e+03, 1.98e+02, 4.59e+02,
       1.17e+02, 1.19e+02, 2.09e+02, 8.40e+01, 1.87e+02, 1.65e+02,
       2.03e+02, 6.50e+01, 3.36e+02, 1.26e+02, 3.13e+02, 1.24e+02,
       1.45e+02, 5.38e+02, 1.82e+02, 1.01e+02, 4.50e+01, 3.77e+02,
       9.90e+01, 1.94e+02, 4.03e+02, 4.14e+02, 5.93e+02, 3.74e+02,
       2.45e+02, 3.20e+03, 2.66e+02, 2.99e+02, 3.09e+02, 2.15e+02,
       2.65e+02, 2.11e+02, 1.12e+02, 3.37e+02, 7.00e+01, 1.59e+02,
       6.88e+02, 1.16e+02, 6.30e+01, 1.44e+02, 1.23e+02, 7.10e+01,
       2.24e+02, 1.13e+02, 1.68e+02, 6.10e+01, 8.90e+01, 1.37e+02,
       2.78e+02, 7.50e+01, 1.48e+02, 1.76e+02, 1.97e+02, 2.64e+02,
       2.14e+02, 2.47e+02, 4.02e+02, 4.40e+02, 1.70e+03, 2.30e+03,
       1.71e+02, 3.20e+02, 6.57e+02, 8.70e+01, 2.59e+02, 2.00e+02,
       2.55e+02, 2.53e+02, 1.96e+02, 6.00e+01, 9.70e+01, 8.50e+01,
       1.69e+02, 2.56e+02, 1.32e+02, 2.39e+02, 1.66e+02, 1.21e+02,
       1.09e+02, 3.20e+01, 4.60e+01, 1.22e+02, 4.80e+01, 5.27e+02,
       1.99e+02, 2.82e+02, 5.10e+01, 1.90e+03, 6.42e+02, 1.55e+02,
       3.23e+02, 2.88e+02, 4.97e+02, 5.09e+02, 7.90e+01, 4.90e+01,
       2.70e+02, 5.11e+02, 8.00e+01, 1.28e+02, 1.15e+02, 1.56e+02,
       2.04e+02, 1.43e+02, 1.40e+02, 1.52e+02, 2.20e+02, 1.34e+02,
       2.25e+02, 9.40e+01, 7.40e+01, 1.35e+02, 1.42e+02, 5.00e+01,
       7.70e+01, 4.00e+01, 1.07e+02, 1.93e+02, 1.79e+02, 3.40e+01,
       6.40e+01, 4.53e+02, 5.70e+01, 8.10e+01, 2.80e+01, 7.80e+01,
       1.33e+02, 4.30e+01, 4.25e+02, 8.80e+01, 4.20e+01, 3.60e+01,
       2.33e+02, 3.76e+02, 2.10e+02, 4.44e+02, 1.00e+02, 2.63e+02,
       9.80e+01, 2.90e+01, 1.60e+02, 3.90e+01, 2.57e+02, 6.00e+00,
       3.10e+02, 1.38e+02, 6.20e+01, 2.93e+02, 2.85e+02, 3.62e+02,
       6.60e+01, 6.90e+01, 5.80e+01, 2.10e+01, 2.00e+01, 1.31e+02,
       3.80e+01, 4.06e+02, 6.80e+01, 1.08e+02, 1.10e+02, 9.30e+01,
       5.12e+02, 4.43e+02, 3.06e+02, 3.52e+02, 4.22e+02, 5.85e+02,
       3.46e+02, 1.78e+02, 8.41e+02, 7.60e+01, 3.94e+02, 7.20e+01,
       1.72e+02, 4.40e+01, 4.07e+02, 2.30e+02, 3.67e+02, 2.95e+02,
       1.57e+02, 2.43e+02, 5.60e+01, 1.11e+02, 3.26e+02, 6.79e+02,
       1.80e+01, 9.20e+01, 5.90e+01, 2.50e+01, 1.84e+02, 5.30e+01,
       1.20e+01, 9.00e+01, 5.50e+01, 7.30e+01, 1.10e+01, 5.66e+02,
       1.80e+02, 8.30e+01, 2.62e+02, 1.70e+01, 2.60e+01, 3.10e+01,
       2.80e+02, 3.59e+02, 2.13e+02, 2.97e+02, 3.87e+02, 4.80e+02,
       3.81e+02, 6.77e+02, 4.86e+02, 8.00e+00, 2.44e+02, 1.29e+02,
       3.88e+02, 2.75e+02, 3.19e+02, 2.00e+03, 5.20e+01, 9.10e+01,
       4.21e+02, 1.53e+02, 2.70e+01, 4.10e+01, 2.22e+02, 3.50e+01,
       1.02e+02, 2.30e+01, 3.00e+01, 3.30e+01, 1.46e+02, 1.30e+01,
       1.90e+01, 1.40e+01, 1.06e+02, 2.76e+02, 5.68e+02, 3.53e+02,
       4.70e+01, 4.78e+02, 2.49e+02, 2.54e+02, 3.69e+02, 2.19e+02,
       5.65e+02, 2.37e+02, 2.27e+02, 4.34e+02, 3.75e+02, 1.62e+02,
       6.05e+02, 6.54e+02, 3.00e+00, 7.00e+00, 9.00e+00, 1.04e+02,
       1.14e+02, 1.86e+02, 4.46e+02, 7.56e+02, 2.20e+01, 1.39e+02,
       5.00e+02, 6.70e+01, 1.47e+02, 1.49e+02, 1.60e+01, 8.20e+01,
       5.40e+01, 3.70e+01, 1.50e+01, 1.30e+03, 3.00e+03, 9.52e+02,
       5.00e+00, 7.49e+02, 5.41e+02, 3.30e+02, 3.93e+02, 5.17e+02,
       7.70e+02, 4.09e+02, 1.70e+02, 1.25e+02, 2.83e+02, 3.42e+02,
       3.63e+02, 5.80e+02, 1.05e+02, 2.17e+02, 2.40e+01, 1.41e+02,
       1.00e+01, 4.27e+02, 1.58e+02, 4.26e+02, 4.00e+00, 6.66e+02,
       1.81e+02, 3.24e+02, 9.79e+02, 1.40e+03, 3.02e+02, 7.51e+02,
       2.98e+02, 4.11e+02, 9.44e+02, 2.00e+00, 9.47e+02, 2.92e+02,
       3.49e+02, 6.21e+02, 1.00e+00, 2.80e+03, 3.38e+02, 2.87e+02,
       2.61e+02, 2.18e+02, 1.80e+03, 2.40e+02, 2.79e+02, 2.29e+02,
       1.88e+02, 3.15e+02, 6.64e+02, 6.13e+02, 1.90e+02, 7.06e+02,
       1.27e+02, 4.62e+02, 3.86e+02, 6.95e+02, 4.91e+02, 1.67e+02,
       2.81e+02, 2.50e+02, 3.07e+02, 9.50e+01, 2.31e+02, 1.74e+02,
       6.80e+02, 6.33e+02, 2.21e+02, 3.48e+02, 6.02e+02, 1.83e+02,
       6.53e+02, 1.95e+02, 1.64e+02, 1.51e+02, 2.58e+02, 8.40e+03,
       3.43e+02, 4.19e+02, 6.55e+02, 1.36e+02, 3.99e+02, 5.31e+02,
       3.57e+02, 2.28e+02, 3.85e+02, 3.12e+02, 3.40e+02, 2.38e+02,
       4.87e+02, 3.55e+02, 4.99e+02, 4.30e+03, 2.96e+02, 5.15e+02,
       9.43e+02, 1.20e+03, 9.03e+02, 3.35e+02, 1.91e+02, 5.94e+02,
       2.67e+02, 6.17e+02, 5.16e+02, 5.04e+02, 3.31e+02, 6.52e+02,
       4.10e+02, 5.50e+02, 4.73e+02, 4.42e+02, 3.44e+02, 2.08e+02,
       1.00e+03, 2.50e+03, 2.73e+02, 4.85e+02, 8.26e+02, 1.92e+02,
       4.05e+02, 9.41e+02, 4.77e+02, 6.44e+02, 3.03e+02, 4.17e+02,
       6.00e+03,      nan])

In [48]:
df['IR'].head()

0    5 ★
1    5 ★
2    3 ★
3    4 ★
4    5 ★
Name: IR, dtype: object

In [49]:
df['IR'] = df['IR'].str.replace('\W', '', regex=True)
df['IR'].head()

0    5
1    5
2    3
3    4
4    5
Name: IR, dtype: object

In [51]:
df['Hits'].dtype

dtype('float64')

In [52]:
df[['W/F','SM','A/W','D/W']]

       W/F  SM     A/W     D/W
0      4 ★  4★  Medium     Low
1      4 ★  5★    High     Low
2      3 ★  1★  Medium  Medium
3      5 ★  4★    High    High
4      5 ★  5★    High  Medium
...    ...  ..     ...     ...
18974  2 ★  2★  Medium  Medium
18975  2 ★  2★  Medium  Medium
18976  2 ★  2★  Medium  Medium
18977  3 ★  2★  Medium  Medium
18978  3 ★  2★  Medium  Medium

[18979 rows x 4 columns]

In [53]:
df['W/F'] = df['W/F'].str.replace('\W', '', regex=True)
df['W/F'].head()

0    4
1    4
2    3
3    5
4    5
Name: W/F, dtype: object

In [54]:
df['SM'] = df['SM'].str.replace('\W', '', regex=True)
df['SM'].head()

0    4
1    5
2    1
3    4
4    5
Name: SM, dtype: object

In [55]:
df['A/W'].unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [56]:
df.describe()

,ID,Age,↓OVA,POT,BOV,Value,Wage,Release Clause,Attacking,Crossing,...,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY,Hits
count,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,1.897900e+04,18979.000000,1.897900e+04,18979.000000,18979.000000,...,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,18979.000000,16384.000000
mean,226403.384794,25.194109,65.718636,71.136414,66.751726,2.865063e+06,9092.062279,3.962951e+06,248.938142,49.688392,...,16.519627,1595.286949,355.702197,67.453975,53.457031,57.681016,62.875020,49.866221,64.368934,26.569580
std,27141.054157,4.710520,6.968999,6.114635,6.747193,7.685154e+06,19707.021089,9.772762e+06,74.299428,18.131153,...,17.854079,269.874789,40.761117,10.677859,13.827425,10.081857,9.927415,16.443213,9.601883,128.631295
min,41.000000,16.000000,47.000000,47.000000,48.000000,0.000000e+00,0.000000,0.000000e+00,42.000000,6.000000,...,2.000000,747.000000,232.000000,25.000000,16.000000,25.000000,25.000000,12.000000,28.000000,1.000000
25%,210135.000000,21.000000,61.000000,67.000000,62.000000,4.750000e+05,1000.000000,4.235000e+05,222.000000,38.000000,...,8.000000,1452.000000,327.000000,61.000000,44.000000,51.000000,57.000000,35.000000,58.000000,2.000000
50%,232418.000000,25.000000,66.000000,71.000000,67.000000,9.500000e+05,3000.000000,1.000000e+06,263.000000,54.000000,...,11.000000,1627.000000,356.000000,68.000000,56.000000,58.000000,64.000000,53.000000,65.000000,5.000000
75%,246922.500000,29.000000,70.000000,75.000000,71.000000,2.000000e+06,8000.000000,2.800000e+06,297.000000,63.000000,...,14.000000,1781.000000,384.000000,75.000000,64.000000,64.000000,69.000000,63.000000,71.000000,15.000000
max,259216.000000,53.000000,93.000000,95.000000,93.000000,1.855000e+08,560000.000000,2.031000e+08,437.000000,94.000000,...,90.000000,2316.000000,498.000000,96.000000,93.000000,93.000000,95.000000,91.000000,91.000000,8400.000000

In [57]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5,85,92,91,95,38,65,771.0
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5,89,93,81,89,35,77,562.0
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3,87,92,78,90,52,90,150.0
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4,76,86,93,88,64,78,207.0
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5,91,85,86,94,36,59,595.0

In [58]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 58 numerical features : ['ID', 'Age', '↓OVA', 'POT', 'BOV', 'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'Hits']

We have 19 categorical features : ['Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Club', 'Contract', 'Positions', 'Height', 'Weight', 'Preferred Foot', 'Best Position', 'Joined', 'Loan Date End', 'W/F', 'SM', 'A/W', 'D/W', 'IR']

# Visualization